tr(id=`row-${user._id}`)
    -var dateBirthday = new Date(user.birthday)
    -user.birthday = `${(`0${dateBirthday.getUTCDate()}`).slice(-2)}/${(`0${(dateBirthday.getUTCMonth() + 1)}`).slice(-2)}/${dateBirthday.getUTCFullYear()}`
    td=user.name
    td=user.lastName
    td=user.birthday
    td=user.username
    td
        a(id=`uptadeButton-${user._id}`, data-object=user).update.waves-effect.waves-light.btn.blue
            i.material-icons edit
        a(id=`removeButton-${user._id}`, data-id=user._id).remove.waves-effect.waves-light.btn.red
            i.material-icons delete