extends ../layout
block content
    h3 Password configuration
    input#inputId(type="hidden", value=passwordConfiguration._id)
    .row
        .input-field.col.s12.m4
            input#inputMaximum.validate(type="text", value=passwordConfiguration.maximumCharacters)
            label(for="inputMaximum") Maximum characters
        .input-field.col.s12.m4
            input#inputMinimum.validate(type="text", value=passwordConfiguration.minimumCharacters)
            label(for="inputMinimum") Minimum characters    
        .input-field.col.s12.m4
            input#inputPasswordExpiration.validate(type="text", value=passwordConfiguration.passwordExpiration)
            label(for="inputPasswordExpiration") Expiration days
        .input-field.col.s12.m4
            input#inputAttempts.validate(type="text", value=passwordConfiguration.attempts)
            label(for="inputAttempts") Attempts
    .row
        .col.s12.m6
            label
                input#checkUppercase(type='checkbox', checked=passwordConfiguration.hasUppercase)
                span Must have Uppercase
        .col.s12.m6
            label
                input#checkLowercase(type='checkbox', checked=passwordConfiguration.hasLowercase)
                span Must have Lowercase
        .col.s12.m6
            label
                input#checkNumber(type='checkbox', checked=passwordConfiguration.hasNumber)
                span Must have numbers
        .col.s12.m6
            label
                input#checkSpace(type='checkbox', data-original="true", checked=passwordConfiguration.hasSpace)
                span Must have spaces
        .col.s12.m6
            label
                input#checkResetPasswordOnFirstLogin(type='checkbox', checked=passwordConfiguration.resetPasswordOnFirstLogin)
                span Must reset password on first login
        .col.s12.m6
            label
                input#checkBirthday(type='checkbox', checked=passwordConfiguration.birthday)
                span Must not contain Birthday as password
    .row
        a#buttonSubmit.col.s12.m3.waves-effect.btn.darken-4(href='javascript:void(0);') Save
block scripts
    script(src="/js/password.js")